apiVersion: v1
kind: Service
metadata:
  name: monitorapp-service
  labels:
    app: monitorapp
spec:
  type: NodePort
  ports:
    - port: 5000
      targetPort: 5000
      protocol: TCP
  selector:
    app: monitorapp
